$pageDefaultColor: rgb(11, 122, 11); 
$boxDefColor: rgba(253, 243, 243, 0.61);
$hoverDefColor: darken($boxDefColor, 60%);

$navBarColor:rgba(56, 141, 56, 0.61);
$boxShadow:  0px 1px 3px 0px rgba(0,0,0,0.66);
$sideNavColor: rgba(142, 151, 12, 0.9);
$hoversideNavColor: darken($sideNavColor, 60%);
$tableLineColor: rgba(255, 255, 255, 0.616);
$tableBacgroundColor: rgba(131, 182, 173, 0.4); 
$incSearchHotColor: rgba(177, 241, 56, 0.76);

.app {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 800px) {
  .app {
		justify-content: left;
  }
}
body {
	background-image: url("coronavirus.jpg");
	background-size: auto;
	background-blend-mode: lighten;
	background-color: rgba(221, 231, 178, 0.788);
	margin-top: 48px;
}

// Table styling
table {
    border-spacing: 0;
    // border: 1px solid $tableLineColor;
    tr {
			color: white;
			&:nth-child(even) {
				background: $tableBacgroundColor;
			}
			&:nth-child(odd) {
				background: darken($color: $tableBacgroundColor, $amount: 20);
			}
			&.clicked {
				border-left: solid;
				border-right: solid;
				color: white;
				text-shadow: 5px 5px 5px rgb(15, 7, 0);
			}
			&.hovered {
				color: rgb(250, 250, 160);
				// text-shadow: 2px 2px 2px rgb(15, 7, 0);
			}
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    th,
    td {
      margin: 0;
      padding: 0.3rem;
      border-bottom: 1px solid $tableLineColor;
      border-right: 1px solid $tableLineColor;
			// text-align: right;
      :last-child {
        border-right: 0;
      }
    }
  }
.pagination {
    padding: 0.5rem;
  }
.rightAlign {
  text-align: right;
}
//End table

//incSearch
.incLink{
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	height: 22px;
	text-align: left;
	// font-size: large;
	width: 100%;
	user-select: none;
	float: left;
	.incLabel{
		 padding: 2px;
	};
	&:hover{
		background-color: $incSearchHotColor;
	} 
	&.lexur{
		background-color: lighten($color: $incSearchHotColor, $amount: 20);
	}	
}	
	
.incBar{
	z-index: 999;
	position: absolute;
	width: 264px;
	top: 84px;
	left: 50px;
	line-height:32px;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: $navBarColor;
	box-shadow: $boxShadow;
}

.incLabel{
	position: relative;
	top: -0.4rem;
}

//////////////////////////
.navLink{
	color: rgb(241, 245, 229);
	text-align: center;
	font-size: large;
	padding: 0px 14px 0px 14px; 
	user-select: none;
	float: left;
	.navLabel{
		padding: 12px;
		font-family: 'Roboto Mono', monospace; 
		font-size: large;
	};
	&:hover{
		background-color: $hoverDefColor;
	} 
}	

.navBar{
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	line-height:32px;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: $navBarColor;
	box-shadow: $boxShadow;
}

.routeTitle{
	position: fixed;
	left: 60px;
}

.navLabel{
	position: relative;
	top: -0.4rem;
}

.navIcon{
	/* width: 1.5rem; */
	height: 28px;
	padding: 0px 14px 0px 14px; 
	fill: whitesmoke;
}

.navIcon{
	/* width: 1.5rem; */
	height: 28px;
	padding: 0px 14px 0px 14px; 
	fill: whitesmoke;
}

svg{
	width: 1.5rem;
	height: 32px;
	fill: whitesmoke;
}	

#sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
	margin-top: 32px;
	background-color: $sideNavColor;
}

#sidenav.sidenavHiden {
	left: -260px;
}

#sidenav div {
	min-width: 100%;
	text-align: left;
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
}

#sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #sidenav {padding-top: 15px;}
  #sidenav a {font-size: 18px;}
}

.page {
	max-width: 1000px;
	display: flex;
	flex: content;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
	padding: 8px;
	background-color: $boxDefColor;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.484);
	border-radius: 2px;
	color: $pageDefaultColor;
}

.box {
	flex-flow: column;
	height: auto;
	border: none;
	background-color: $boxDefColor;
	box-shadow: $boxShadow;
}

.chartBox{
	padding: 15px;
	background-color: $boxDefColor;
	box-shadow: $boxShadow;
}

.chartCanvas{
	min-height: 480px;
	min-width: 100%;
}

@media only screen and (max-width: 600px) {
	.chartCanvas {
		min-height: 340px;
	}
	.chartResponsive{
		width: 100%;
	}
}

.sticker {
	margin: 5px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	display: flex;
	flex-flow: column;
	height: auto;
	border: none;
	text-align: center;
	background-color: $boxDefColor;
	box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2);
	min-width: 180px;
}
.stickerTitle{
  height: 36px;
  line-height: 36px;
  text-align: center;
	color: white;
	font-weight: 800;
	background-color: rgba(21, 61, 17, 0.788);
}
.stickerBody{
	font-size: xx-large;
	font-weight: 800;
}

.boxTitle{
	font-family: 'Caveat', cursive;
	font-size: xx-large;
	font-weight: 800;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px #3F1B11;
}

.passChangeIcon {
	float: right;
	padding-left: 8px;
	padding-right: 8px;
	margin: 4px;
	min-width: 40px;
}
.passChangeIcon:hover{
	background-color: $hoverDefColor;
}

.inputLabel{
	padding: 0;
	width: 100%;
	color: white;
	font-family: 'Indie Flower', cursive;
	/* font-family: 'Caveat', cursive;  */
	font-weight: 800;
	font-size: large;
}

.inputLabel > input:focus{
	color: #961f0a;
	background-color:moccasin ;
	box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.2);
}

input[type=text] {
	width: 100%;
	max-height: 34px;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
	box-shadow: 0px 13px 10px -7px rgba(3, 68, 14, 0.2);
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-size: larger;
	color: rgba(19, 53, 8, 0.74);
}

input::placeholder {
	color: rgba(43, 43, 10, 0.25);
}

.inputLabel{
	padding: 0;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	color: white;
	font-family: 'Indie Flower', cursive;
	/* font-family: 'Caveat', cursive;  */
	font-weight: 800;
	font-size: large;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	border-bottom-right-radius: 16px;
	border-top-left-radius: 16px;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
}
input:focus{
	outline: none;	
}

input[type=submit]:hover {
  background-color: $hoverDefColor;
}

.inputBox {
  background-color: #c29679a4;
	margin: 22px;
	max-width: 400px;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 16px;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
	// :hover{
	// 	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 7px 15px 0 rgba(0,0,0,0.19);
	// }	
}

.inputBox.loginError{
	background-color: #d13014ab;
}

.touched {
	background-color: #f0e26371;
	color: #f3f1e7;
}

.bottomLine {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
	height: 2em;
	padding-top: 8px;
	border-bottom-right-radius: 16px;
	border-top-left-radius: 16px;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.2);
}

.subButton {
	border: none;
	color: white;
	width: 50%;
	text-align: center;
	text-decoration: none;
  display: inline-block;
	font-size: 18px;
	padding-top: 5px;	
  cursor: pointer;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24),0 2px 5px 0 rgba(0,0,0,0.19);
	margin-left: 2px;
}
.subButton:hover{ 
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 7px 15px 0 rgba(0,0,0,0.19);
}	
.subButton:focus{
	outline: none;	
}
.subButton:active {
	box-shadow: 0 0 0 0, 0 0 0 0 ;
}
.cancel {
	background-color : rgb(198, 201, 52);
} 
.submit {
	background-color: orange;
}

.chartIcon{
	background-color: rgba(160, 168, 141, 0.089);
	padding: 0px 6px 0px 6px; 
	user-select: none;
	float: left;
	&:hover{
		background-color: $hoverDefColor;
	} 
}	

// rss Feed styling 
.mzPage {
	max-width: 870px;
	display: flex;
	flex: content;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
	padding: 8px;
	background-color: $boxDefColor;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.484);
	border-radius: 2px;
	color: $pageDefaultColor;
}
.feedBox{
  background-color: whitesmoke;
	margin: 5px;
	padding: 12px;
	width: 400px;
	
	font-size: medium;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 16px;
	box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.2);
 	:hover{
		background-color: white;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
 	}	
}

.moment{
	font-size: medium;
}

.mzGovImg{
	width: 50%;
	height: auto;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 16px;
}
.mzGovTitle{
	display: flex;
	justify-content: center;
	margin: 5px;
	padding: 12px;
	background-color: #0361AF;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 16px;
}

.feedTitle{
	font-family: 'Caveat', cursive;
	font-size: small;
	font-weight: 800;
	text-align: center;
	color: rgb(20, 134, 68);
	text-shadow: 2px 2px 2px rgba(3, 7, 17, 0.23);
}

@media only screen and (max-width: 600px) {
	.mzGovImg{
		width: 100%;
		height: auto;
	}
	.feedBox {
		width: auto;
	}
	.feedTitle{
		width: 100%;
	}
}
